.main{
    height: 90vh;
    background: url('../img/background/confortableDesk.jpg');
    background-size: cover;
    background-position: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.focus{
    height: 400px;
    width: 400px;
}


.focus h1{
    font-size: 80px;
}

.jobs{
    padding: 20px 0;
    background: url('../img/background/bethany-legg-9248.jpg');
    background-size: cover;
    background-position: center;
}